*.apk filter=lfs diff=lfs merge=lfs -text
C:/Users/m.antona/source/repos/WeatherEventNotifier/AppWeatherEventNotifier.apk filter=lfs diff=lfs merge=lfs -text
C:/Users/m.antona/source/repos/WeatherEventNotifier/AppWeatherEventNotifier.apk filter=lfs diff=lfs merge=lfs -text
