annotated-types==0.6.0
certifi==2023.11.17
charset-normalizer==3.3.2
confluent-kafka==2.3.0
contourpy==1.2.0
cycler==0.12.1
dateparser==1.2.0
fonttools==4.47.2
greenlet==3.0.1
httmock==1.4.0
idna==3.6
importlib-resources==6.1.1
inflect==7.0.0
install==1.3.5
kiwisolver==1.4.5
matplotlib==3.8.2
mysqlclient==2.2.0
numpy==1.26.3
packaging==23.2
pandas==2.2.0
pillow==10.2.0
pip==23.3.1
prometheus-api-client==0.5.4
pydantic_core==2.14.5
pydantic==2.5.2
pyodbc==5.0.1
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
regex==2023.12.25
requests==2.31.0
setuptools==58.1.0
six==1.16.0
sqlacodegen==2.3.0.post1
SQLAlchemy==1.4.51
typing_extensions==4.8.0
tzdata==2023.4
tzlocal==5.2
urllib3==2.1.0
zipp==3.17.0